@media screen and (max-device-width: 480px){
    body{
        -webkit-text-size-adjust:none;
        }
    }

/* custom fonts defined */

@font-face {
	font-family: ubuntu-mono;
	src: url(../fonts/UbuntuMono-R.ttf);
	}

@font-face {
	font-family: ubuntu;
	src: url(../fonts/Ubuntu-R.ttf);
	}


/* begin defining of id's */

#page {
	background-image: url(../images/background.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-position: 0px 105px;
	background-repeat: no-repeat;
	background-color: black;
	top: 200px;
	}

#wrapper {
	width: 100%;
	color: white;
	}

#header-background {
	float: left;
	width: 100%;
	height: 105px;
	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	}
	
#header {
	font-size: 35px;
	width: 100%;
	font-family: papyrus;
	color: orange;
	height: 40px;
	position: fixed;
	top: 15px;
	z-index: 2;
	background-color: black;
	}


/* leftcolumn and site navigation-related id's */

#leftcolumn {
	float: none;
	width: 100%;
	position: fixed;
	top: 55px;
	z-index: 1;
	}

#nav {
	width: 100%;
	list-style-type: none;
	font-family: ubuntu-mono;
	padding: 0px;
	}

#nav li {
	display: inline;
	}

#nav a {
	text-decoration: none;
	color: white;
	}
	
#nav a:visited {
	color: white;
	}

#nav a:hover {
	color: orange;
	}

	
/* rightcolumn and related id's */
	
#rightcolumn {
	width: 100%;
	font-family: ubuntu;
	position: relative;
	top: 100px;
	background-repeat: no-repeat;
	text-shadow: 2px 0px 3px black;
	}
	
#rightcolumn-contacts {
	width: 100%;
	font-family: ubuntu;
	text-shadow: 2px 0px 3px black;
	position: relative;
	top: 110px;
	}	

#rightcolumn-contacts a {
	text-decoration: none;
	color: orange;
	}
	
#rightcolumn-contacts a:hover {
	text-decoration: underline;
	}
	
#rightcolumn-contacts a:visited {
	color: orange;
	}

#rightcolumn a {
	color: orange;
	}
	
#rightcolumn h1 a {
	color: white;
	text-decoration: none;
	}

#rightcolumn h1 a:hover {
	color: orange;
	}


/* table on contacts page */

th {
	text-align: right;
	}

td {
	padding: 0px 0px 0px 5px;
	}


#current-page {
	font-weight: bold;
	}
	
#followlinks a {
	text-decoration: none;
	}
	
#followlinks a:hover {
	color: orange;
	}
	
#footnotes {
	font-family: ubuntu-mono
	}
	
#homepage-image {
	text-align: center;
	border: none;
	}

img {
	max-width: 80%;
	height: auto;
	}
	
.h1-music {
	font-size: 140%;
	}